*{
    margin: 0;
    padding: 0;
}

h1{
  color: #910505;
  text-align: center;
   
}

body{
    background: linear-gradient(#b3b1b1, #434343, #444444);

}

p{
  font-size: 20px;
}

.header-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 2px solid #333;
}

.fav-counter {
  background: #f0f0f0;
  border: 2px solid #000;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  gap: 30px;
  padding: 40px;
}

.Card {
  background-color: #a8a8a8;
  border: 2px solid #000000;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s;
}

.Card.favoritado {
  border-color: #000000;
  background-color: #afb2be;
}

.Card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-favoritar {
  margin-top: 15px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fdfffe;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 50px;
}